---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/products(search=boot)?apiKey=m7sfn4nqtmg8u96aakbfz49e&format=json&pageSize=15&show=sku,name,salePrice,shortDescription,image,customerReviewAverage
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-04.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 15,
          "total": 828,
          "currentPage": 1,
          "totalPages": 56,
          "queryTime": "0.005",
          "totalTime": "0.048",
          "partial": false,
          "canonicalUrl": "/v1/products(search=\"boot\")?show=sku,name,salePrice,shortDescription,image,customerReviewAverage&format=json&apiKey=m7sfn4nqtmg8u96aakbfz49e",
          "products": [
            {
              "sku": 8911813,
              "name": "10 Minute Solution: Hot Body Boot Camp (DVD) (Colorized)",
              "salePrice": 9.99,
              "shortDescription": null,
              "image": "http://images.bestbuy.com/BestBuy_US/images/products/8911/8911813_sa.jpg",
              "customerReviewAverage": null
            },
            {
              "sku": 7316647,
              "name": "10 Minute Solution: Kickbox Bootcamp (DVD)",
              "salePrice": 4.99,
              "shortDescription": null,
              "image": "http://images.bestbuy.com/BestBuy_US/images/products/7316/7316647_sa.jpg",
              "customerReviewAverage": "5.0"
            },
            {
              "sku": 1022328,
              "name": "10 Minute Solution: Ultimate Boot Camp (DVD)",
              "salePr[...]
