---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/products(longDescription=sennheiser*&longDescription=headphones*&longDescription=white*)?apiKey=m7sfn4nqtmg8u96aakbfz49e&format=json&pageSize=15&show=longDescription,sku,name,salePrice,shortDescription,image,customerReviewAverage
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-04.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 6,
          "total": 6,
          "currentPage": 1,
          "totalPages": 1,
          "queryTime": "0.008",
          "totalTime": "0.025",
          "partial": false,
          "canonicalUrl": "/v1/products(longDescription=\"sennheiser*\"&longDescription=\"headphones*\"&longDescription=\"white*\")?show=longDescription,sku,name,salePrice,shortDescription,image,customerReviewAverage&format=json&apiKey=m7sfn4nqtmg8u96aakbfz49e",
          "products": [
            {
              "longDescription": "Enjoy your music with these Sennheiser CX 1.00 WHITE earbud headphones, which feature a noise-blocking design that helps eliminate distractions, so you can focus on audio playback. The ultrasmall design ensures a comfortable fit.",
              "sku": 9068191,
              "name": "Sennheiser - CX 1.00 Earbud Headphones - White",
              "salePrice": 44.95,
              "shortDescription": "SENNHEISER CX 1.00 Earbud Headphones: Noise-blocking design; dynamic transducer principle; ultrasmall design; 3.5mm connector; 3.9' cable; includes 4 sizes of ear adapters",
              "image": "http://images.bestbuy.com/BestBuy_US/images/products/9068/9068191_sa.jpg",
              "customerReviewAverage": null
            },
            {
              "longDescription": "These Sennheiser CX 2.00G WHITE earbud headphones come with 4 ear adapter sizes, so you can achieve a custom fit and reduce ambient noise. A 3-button in-line remote with integrated microphone allows you to control functions and communicate hands-free.",
              "sku": 9068155,
              "name": "Sennheiser - CX 2.00G Earbud Headphones - White",
              "salePrice": 54.95,
              "shortDescription": "SENNH[...]
