---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/products(search=sennheiser)?apiKey=m7sfn4nqtmg8u96aakbfz49e&format=json&pageSize=15&show=sku,name,salePrice,shortDescription,image,customerReviewAverage
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-02.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 15,
          "total": 165,
          "currentPage": 1,
          "totalPages": 11,
          "queryTime": "0.004",
          "totalTime": "0.039",
          "partial": false,
          "canonicalUrl": "/v1/products(search=\"sennheiser\")?show=sku,name,salePrice,shortDescription,image,customerReviewAverage&format=json&apiKey=m7sfn4nqtmg8u96aakbfz49e",
          "products": [
            {
              "sku": 4763330,
              "name": "Galaxy Audio - Headset Microphone - Beige",
              "salePrice": 199.99,
              "shortDescription": "GALAXY AUDIO Headset Microphone: Crafted for most wireless transmitters; can be used with a JIB/PB; works with most PC sound cards; flexible fit design",
              "image": "http://images.bestbuy.com/BestBuy_US/images/products/4763/4763330_sa.jpg",
              "customerReviewAverage": null
            },
            {
              "sku": 4763305,
              "name": "Galaxy Audio - Headset Microphone - Black",
              "salePrice": 199.99,
              "shortDescription": "GALAXY AUDIO Headset Microphone: Compatible with most wireless transmitters; can be used with a JIB/PB; works with most PC sound cards; flexible fit design",
              "image": "http://images.bestbuy.com/BestBuy_US/images/products/4763/4763305_sa.jpg",
              "customerReviewAverage": nu[...]
