---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/products(longDescription=sennheiser*&longDescription=headphones*)?apiKey=m7sfn4nqtmg8u96aakbfz49e&format=json&pageSize=15&show=longDescription,sku,name,salePrice,shortDescription,image,customerReviewAverage
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-01.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 15,
          "total": 74,
          "currentPage": 1,
          "totalPages": 5,
          "queryTime": "0.005",
          "totalTime": "0.035",
          "partial": false,
          "canonicalUrl": "/v1/products(longDescription=\"sennheiser*\"&longDescription=\"headphones*\")?show=longDescription,sku,name,salePrice,shortDescription,image,customerReviewAverage&format=json&apiKey=m7sfn4nqtmg8u96aakbfz49e",
          "products": [
            {
              "longDescription": "Enjoy your music with these Sennheiser CX 1.00 BLACK earbud headphones, which feature a noise-blocking design that helps eliminate distractions, so you can focus on audio playback. The ultrasmall design ensures a comfortable fit.",
              "sku": 9068146,
              "name": "Sennheiser - CX 1.00 Earbud Headphones - Black",
              "salePrice": 44.95,
              "shortDescription": "SENNHEISER CX 1.00 Earbud Headphones: Noise-blocking design; dynamic transducer principle; ultrasmall design; 3.5mm connector; 3.9' cable; includes 4 sizes of ear adapters",
              "image": "http://images.bestbuy.com/BestBuy_US/images/products/9068/9068146_sa.jpg",
              "customerReviewAverage": "5.0"
            },
            {
              "longDescription": "Enjoy your music with these Sennheiser CX 1.00 WHITE earbud headphones, which feature a noise-blocking design that helps eliminate distractions, so you can focus on audio playback. The ultrasmall design ensures a comfortable fit.",
              "sku": 9068191,
              "name": "Sennheiser - CX 1.00 Earbud Headphones - White",
              "salePrice": 44.95,
              "shortDescription": "SENNHEISER CX 1.00 Earbud H[...]
