---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/products(longDescription=sennheiser*&longDescription=headphones*&longDescription=white*&longDescription=black*&longDescription=purple*&longDescription=red*&longDescription=blue*&longDescription=daggg*)?apiKey=m7sfn4nqtmg8u96aakbfz49e&format=json&pageSize=15&show=longDescription,sku,name,salePrice,shortDescription,image,customerReviewAverage
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-02.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 0,
          "total": 0,
          "currentPage": 1,
          "totalPages": 0,
          "queryTime": "0.061",
          "totalTime": "0.062",
          "partial": false,
          "canonicalUrl": "/v1/products(longDescription=\"sennheiser*\"&longDescription=\"headphones*\"&longDescription=\"white*\"&longDescription=\"black*\"&longDescription=\"purple*\"&longDescription=\"red*\"&longDescription=\"blue*\"&longDescription=\"daggg*\")?show=longDescription,sku,name,salePrice,shortDescription,image,customerReviewAverage&format=json&apiKey=m7sfn4nqtmg8u96aakbfz49e",
          "products": [

          ]
        }
  recorded_at: Tue, 08 Mar 2016 18:35:17 GMT
recorded_with: VCR 3.0.1
