---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/products(search=sennheiser)?apiKey=m7sfn4nqtmg8u96aakbfz49e&format=json&show=sku,name,salePrice,image
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-01.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 10,
          "total": 165,
          "currentPage": 1,
          "totalPages": 17,
          "queryTime": "0.004",
          "totalTime": "0.125",
          "partial": false,
          "canonicalUrl": "/v1/products(search=\"sennheiser\")?show=sku,name,salePrice,image&format=json&apiKey=m7sfn4nqtmg8u96aakbfz49e",
          "products": [
            {
              "sku": 4763330,
              "name": "Galaxy Audio - Headset Microphone - Beige",
              "salePrice": 199.99,
              "image": "http://images.bestbuy.com/BestBuy_US/images/products/4763/4763330_sa.jpg"
            },
            {
              "sku": 4763305,
              "name": "Galaxy Audio - Headset Microphone - Black",
              "salePrice": 199.99,
              "image": "http://images.bestbuy.com/BestBuy_US/images/products/4763/4763305_sa.jpg"
            },
            {
              "sku": 4763306,
              "name": "Galaxy Audio - Headset Microphone - Black",
              "salePrice": 199.99,
    [...]
